* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*navbar inicio*/
.wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 110vh;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 100;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 50px;
    color: white;
    padding-bottom: 8px;
    margin: 0 30px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-logo {
    margin-top: 15px;
}

/*botoes login/registro*/

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(211, 211, 211, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;

}

.btn:hover {
    background: rgba(211, 211, 211, 0.3);
}

.btn.btn.btn.white-btn:hover {
    background: rgba(211, 211, 211, 0.5);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(211, 211, 211, 0.7);
}

.nav-menu-btn {
    display: none;
}

/* navbar fim */

/* Registro/Login */

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
    justify-content: center;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: white;

}

header {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;

}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 20px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: gray;
}

.input-box i {
    position: relative;
    top: -32px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease-in-out;
    background: rgba(211, 211, 211, 0.7);
}

.submit:hover {
    background: rgba(211, 211, 211, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(128, 128, 128, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: small;
    margin-top: 15px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: white;
}

.two label a:hover {
    text-decoration: underline;
}

#register-eye {
    left: 88%;
    cursor: pointer;
}

#login-eye {
    left: 88%;
    cursor: pointer;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(128, 128, 128, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(128, 128, 128, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(128, 128, 128, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container,
    .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }
}

/* Fim login/registro */

.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    background-color: #f7f7f7;
    transition: 0.3s ease-in-out;
}

.form-group input:focus, .form-group textarea:focus {
    background-color: #fff;
    border-color: #4CAF50;
}

.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-group button:hover {
    background-color: #45a049;
}
